borb==2.0.10
certifi==2021.5.30
charset-normalizer==2.0.6
deepdiff==5.5.0
falcon==1.2.0
falcon-cors==1.1.7
fonttools==4.27.1
greenlet==1.1.1
gunicorn==20.1.0
idna==3.2
importlib-metadata==4.8.1
mysqlclient==2.0.3
-e git+https://github.com/Nkola21/open-source@a16c07c84493de2ca5ab344e045bcefa4551d0b2#egg=open_source
ordered-set==4.0.2
Pillow==8.3.2
PyJWT==2.1.0
python-barcode==0.13.1
python-dateutil==2.8.2
python-mimeparse==1.6.0
qrcode==7.3
raven==6.10.0
reportlab==3.6.1
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.23
typing-extensions==3.10.0.2
urllib3==1.26.7
zipp==3.5.0
